.autoplay,
.promocoes{
    width: 1186px;
}

.autoplay img{
    width: 100%;
}

.slick-dots li button:before {
    font-size: 40px;
}

.slick-dots li.slick-active button:before{
    color: #F29F05;
}

.slick-prev:before{
    display: none;
}

.slick-prev:before, .slick-next:before {
    font-weight: bold;
    background-color: #F29F05;
    border-radius: 50%;
    padding: 15px;
    font-size: 10px;
}